body{
    padding: 10%;
    /* font-size: 2rem; */
    font-family: Arial, Helvetica, sans-serif;
}
a{
    /* text-decoration:none;
   cursor: pointer; */
   color: steelblue;
}
a:visited{
    color:purple;
}
a:hover , a:focus{
    color: dodgerblue;
}
a:active{
    color: red;
}
/* impotant order */